.popup__error {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 35px;
  width: 350px;
  display: block;
}