.profile__userpic {
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
}

@media screen and (max-width: 980px) {
  .profile__userpic {
    margin-right: 3vw;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 425px) {
  .profile__userpic {
    margin: 0 0 30px 0;
    width: 120px;
    height: 120px;
  }
}