.root {
    width: 100%;
    min-height : 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', 'arial', sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
}