.popup__title {
    max-width: 76.75%;
    margin: 0 auto 0 36px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    color: #000;
  }
  
  @media (max-width: 420px) {
    .popup__title {
      font-size: 18px;
      line-height: 1.22;
      margin: 0 auto;
      max-width: 84.4%;
    }
  }
  